/* 
    Document   : main
    Created on : 11 Jun, 2011, 9:29:58 AM
    Author     : Arunmohan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
/*RESET css*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, output, section, summary {display:block}
meter,progress,mark, time {display:inline}
ol, ul {list-style:none}
blockquote,q {quotes:none}
html,body {height:100%}
img {border:0;vertical-align:top;text-align:left}
object {vertical-align:top;outline:none}
ul,ol {list-style:none}
table,table td {padding:0;border:none;border-collapse:collapse}
input,select,textarea {font-family:Arial, Helvetica, sans-serif;font-size:1em;vertical-align:middle;font-weight:normal;margin:0;padding:0}
textarea {overflow:auto}
/* GLOBAL */
html {min-width:1088px}
body {font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:1em;color:#000}
header {position:relative;height:50px;background-color: #3B5998;text-align:center;padding: 10px;}

/* footer */
footer {text-align:center;height:50px;overflow:hidden;background-color: #486A9E;position:relative;}
footer span {color: #111;font:12px/20px Arial, Helvetica, sans-serif;padding-top: 15px;display:block}
footer span a {color:#333}
/*section*/
section {padding: 15px;min-height: 450px;}
.login-form{border: #52C6D8 thick double;min-width: 400px;width: 400px;} 
.error-page-box{min-width: 600px;padding: 10px;color:#A84ADB;font-size:32px;} 