/* 
    Document   : main
    Created on : 11 Jun, 2011, 9:29:58 AM
    Author     : Arunmohan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
/*RESET css*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, output, section, summary {display:block}
meter,progress,mark, time {display:inline}
ol, ul {list-style:none}
blockquote,q {quotes:none}
html,body {height:100%}
img {border:0;vertical-align:top;text-align:left}
object {vertical-align:top;outline:none}
ul,ol {list-style:none}
table,table td {padding:0;border:none;border-collapse:collapse}
input,select,textarea {font-family:Arial, Helvetica, sans-serif;font-size:1em;vertical-align:middle;font-weight:normal;margin:0;padding:0}
textarea {overflow:auto}
/* GLOBAL */
html {min-width:1088px}
body {font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:1em;color:#000}
header {position:relative;height:50px;background-color: #3EAEF9;text-align:center;padding: 10px;}

/* footer */
footer {text-align:center;height:50px;overflow:hidden;background-color: #3CA9F2;position:relative;}
footer span {color: #111;font:12px/20px Arial, Helvetica, sans-serif;padding-top: 15px;display:block}
footer span a {color:#333}
/*section*/
body{font-family: arial; font-size: 13px;}
section {padding: 0;min-height: 550px; background-color: #D2E7F4;}
.login-form{border: #52C6D8 thick double;min-width: 400px;width: 400px;-moz-border-radius: 0.4em 0.4em 0.4em 0.4em;}
.error-page-box{min-width: 600px;padding: 10px;color:#A84ADB;font-size:32px;} 
a{text-decoration: none;}
/*Header content*/
#header-content{width: 1069px; margin: 0pt auto;}
/*View Content*/
#view-content{width: 1069px; margin: 0pt auto;}

/*Center Form*/
#addcenter-leftblock{display:inline-block;min-width: 200px;float: left;color: #D2E7F4}
.center-details-form { display: inline-block; float:left;padding:15px 10px; }
.center-details-form input[type="text"]{}
.center-details-form label{min-width:200px; float:left;}
.center-details-form .form-elmts{padding: 5px 2px;}
.center-details-form{border: 1px #848F96 solid;}

/*Menu*/
.menu:hover{background-color: #818CEF;}
.login-logout a{color:#FFF}
.login-logout a:hover{background-color:#0463A3;}
#main-menu a{color:#FFF}
#main-menu a:hover{background-color:#0463A3; }
.center-menu a{ background-color: #3C7FA8;border: 1px solid #3C7FA8;color: #FFFFFF; padding: 0px 5px;}
.center-menu a:hover{background-color: #003456;}
.center-menu label{color: #A34F4F}
/*List center details*/
.center-list{display: inline-block;min-width: 1069px;background-color:#DEECF2; border:1px #848F96 solid; border-right: 0; border-bottom:0 }
.list-head { background-color: #56B4F7;position:relative; overflow:hidden; color: #fff; font-weight: bold; text-transform: capitalize;}
.list-head div{display:block; text-align: left; float: left; padding: 5px; border-right:1px #848F96 solid}
.list-content{ border-bottom:1px #848F96 solid;}
.list-content div{display: inline-block; padding: 5px; border-right:1px #848F96 solid;text-transform: capitalize;}
.list-content:hover{background-color:#C7E7FC;}
#list-category{position: fixed;top:30%;right:30%;width: 350px; z-index: 1;border: 1px #848F96 solid;
               background-color: #0794ED;-moz-border-radius: 0.6em 0.6em 0.6em 0.6em; padding: 5px;}
#list-category-close{text-align: right}
#list-category-content{}
#add-category{position: fixed;top:30%;right:60%;width: 350px; z-index: 1;border: 1px #848F96 solid;
               background-color: #7C94A3; min-height: 150px;-moz-border-radius: 0.6em 0.6em 0.6em 0.6em; padding: 5px;}
#add-category-close{text-align: right}
#add-category-close a{color: #EF0404}

/*search-box*/
.search-box{display:block; width: 200px;float: right; border:1px #848F96 solid; background-color: #C2E8FC;
            color: #5E5E5D;padding: 5px; -moz-border-radius: 0.6em 0.6em 0.6em 0.6em;}
#centerSearchsubmit {background-color:#02568E;color:#F7F7F7;font-size:10px;font-weight:bold;border-color: #0D3956}
#centerSearchsubmit:hover{background-color:#03368E;}
#searchCenterOption{background-color:#02568E;color:#F7F7F7;font-size:10px;font-weight:bold;border-color: #0D3956}



