/* 
    Document   : main
    Created on : 11 Jun, 2011, 9:29:58 AM
    Author     : Arunmohan
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
/*RESET css*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, output, section, summary {display:block}
meter,progress,mark, time {display:inline}
ol, ul {list-style:none}
blockquote,q {quotes:none}
html,body {height:100%}
img {border:0;vertical-align:top;text-align:left}
object {vertical-align:top;outline:none}
ul,ol {list-style:none}
table,table td {padding:0;border:none;border-collapse:collapse}
input,select,textarea {font-family:Arial, Helvetica, sans-serif;font-size:1em;vertical-align:middle;font-weight:normal;margin:0;padding:0}
textarea {overflow:auto}
/* GLOBAL */
html {min-width:1088px}
body {font-family:Arial, Helvetica, sans-serif;font-size:100%;line-height:1em;color:#000}
header {position:relative;height:50px;text-align:center;padding: 10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.26, rgb(247,247,247)),
    color-stop(0.56, rgb(224,220,224)),
    color-stop(0.88, rgb(209,209,209))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(247,247,247) 26%,
    rgb(224,220,224) 56%,
    rgb(209,209,209) 88%
);

border-bottom:1px #ccc solid;


}
header h1{ color: #333}

/* footer */
footer {text-align:center;height:50px;overflow:hidden;background-color: #3CA9F2;position:relative;}
footer span {color: #111;font:12px/20px Arial, Helvetica, sans-serif;padding-top: 15px;display:block}
footer span a {color:#333}
/*section*/
body{font-family: arial; font-size: 13px;}
section {padding: 0;min-height: 550px;
         background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(208,228,245)),
    color-stop(0.66, rgb(97,168,230)),
    color-stop(0.99, rgb(4,118,217))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(208,228,245) 0%,
    rgb(97,168,230) 66%,
    rgb(4,118,217) 99%
);



}
.login-form{border: #52C6D8 thick double;min-width: 400px;width: 400px;-moz-border-radius: 0.4em 0.4em 0.4em 0.4em;}
.error-page-box{min-width: 600px;padding: 10px;color:#A84ADB;font-size:32px;} 
a{text-decoration: none;}
/*Header content*/
#header-content{width: 1069px; margin: 0pt auto;}
/*View Content*/
#view-content{width: 1110px; margin: 0pt auto;min-height: 550px;
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.26, rgb(219,216,219)),
    color-stop(0.56, rgb(219,210,219)),
    color-stop(0.88, rgb(222,213,222))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(219,216,219) 26%,
    rgb(219,210,219) 56%,
    rgb(222,213,222) 88%
);
}

/*Center Form*/
#addcenter-leftblock{display:inline-block;min-width: 200px;float: left;color: #D2E7F4}
.center-details-form { display: inline-block; float:left;padding:15px 10px; }
.center-details-form input[type="text"]{}
.center-details-form label{min-width:200px; float:left;}
.center-details-form .form-elmts{padding: 5px 2px;}
.center-details-form{border: 1px #848F96 solid;}

/*Menu*/
.menu:hover{background-color: #818CEF;}
.login-logout a{color:#FFF;color: #fff; font-size: 13px; font-weight: bold; display: inline-block;  padding: 8px 15px; float:right;
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(179,220,230)),
    color-stop(0.66, rgb(112,194,214)),
    color-stop(0.99, rgb(0,171,214))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(179,220,230) 0%,
    rgb(112,194,214) 66%,
    rgb(0,171,214) 99%
);
}
.login-logout a:hover{
    background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* W3C */


 }
#main-menu{color:#FFF; background: #87e0fd; /* Old browsers */
               background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
               background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
               background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
               background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera11.10+ */
               background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */}
#main-menu a{ color: #fff; font-size: 13px; font-weight: bold; display: inline-block; border-right: 1px #0CADE1 solid; padding: 8px 15px; float:left;}
#main-menu a:last-child{border:none;}
#main-menu a:first-child:hover{ -webkit-border-top-left-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#main-menu a:last-child:hover{ -webkit-border-top-right-radius: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
#main-menu a:hover{background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* W3C */ }
.center-menu a{display: inline-block;color: #FFFFFF;background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.26, rgb(245,245,245)),
    color-stop(0.56, rgb(230,230,230)),
    color-stop(0.88, rgb(237,237,237))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(245,245,245) 26%,
    rgb(230,230,230) 56%,
    rgb(237,237,237) 88%
);
 padding: 5px 10px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; display: inline-block; margin: 0; color:#333}
.center-menu{display: inline-block}
.center-menu a:hover{background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.26, rgb(186,186,186)),
    color-stop(0.56, rgb(252,252,252)),
    color-stop(1, rgb(82,82,82))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(186,186,186) 26%,
    rgb(252,252,252) 56%,
    rgb(82,82,82) 100%
);

}
.center-menu label{color: #A34F4F}
/*List center details*/
.center-list{display: inline-block;min-width: 1110px;border:1px #848F96 solid; border-right: 0; border-bottom:0;
             background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.26, rgb(255,250,255)),
    color-stop(0.56, rgb(237,239,242)),
    color-stop(0.88, rgb(255,250,255))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(255,250,255) 26%,
    rgb(237,239,242) 56%,
    rgb(255,250,255) 88%
);

}
.list-head { background-color: #56B4F7;position:relative; overflow:hidden; color: #fff; font-weight: bold; text-transform: capitalize;}
.list-head div{display:block; text-align: left; float: left; padding: 5px; border-right:1px #848F96 solid}
.list-content{ border-bottom:1px #848F96 solid;}
.list-content div{display: inline-block; padding: 5px; border-right:1px #848F96 solid;text-transform: capitalize;}
.list-content:hover{background-color:#C7E7FC;}
#list-category{position: fixed;top:31%;right:36%;width: 350px; z-index: 1;border: 1px #848F96 solid;
               background-color: #0794ED;-moz-border-radius: 0.6em 0.6em 0.6em 0.6em; padding: 5px;}
#list-category-inner{background-color: #fff;padding: 0 0 15px 5px;}
#list-category-close{text-align: right;}
#list-category-content{}
#add-category{position: fixed;top:31%;right:36%;width: 350px; z-index: 1;border: 1px #848F96 solid;
               background-color: #7C94A3; -moz-border-radius: 0.6em 0.6em 0.6em 0.6em; padding: 5px;background: rgba(0, 0, 0, 0.3);}
#add-category-inner{background-color: #fff;padding: 0 0 15px 5px;}
#add-category-close{text-align: right}
#add-category-close a{color: #EF0404}
#add-category-formelements input{width: 223px;}
#categoryAddButton{ border: medium none;color: #FFFFFF;cursor: pointer;background-color: #0293F4;min-width: 98px;-moz-border-radius: 5px 5px 5px 5px;padding: 5px 10px;}
#categoryAddButton:hover{background-color: #0279CE;}
/*search-box*/
.search-box{-moz-border-radius: 0.6em 0.6em 0.6em 0.6em;
    background-color: #C2E8FC;border: 1px solid #848F96;color: #fff;display: block;float: right;
    margin: 5px 0;padding: 5px;
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.26, rgb(79,81,82)),
    color-stop(0.56, rgb(103,109,112)),
    color-stop(0.88, rgb(32,33,33))
    );
   background-image: -moz-linear-gradient(
    center top,
    rgb(79,81,82) 26%,
    rgb(103,109,112) 56%,
    rgb(32,33,33) 88%
);

}
#centerSearchsubmit {-moz-border-radius: 5px 5px 5px 5px;background-color: #0293F4;border: medium none;color: #FFFFFF;cursor: pointer;
    min-width: 68px;padding: 2px 10px;}
#centerSearchsubmit:hover{background-color: #0279CE;}
#searchCenterOption{moz-border-radius: 5px 5px 5px 5px;background-color: #0293F4;border: medium none;color: #FFFFFF;
    min-width: 68px;padding: 2px 7px;-moz-border-radius: 5px 5px 5px 5px;}


#backgroundPopup {background: none repeat scroll 0 0 #111111;border: 1px solid #CECECE;left: 0;position: fixed;top: 0;
    width: 100%;z-index: 1;height: 500px;opacity : 0.3;
}

.curve{-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}